body {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
}

/*NavBar*/

#navBar {
    background-color: #474E5D; 
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
#navBar a {
    color: white;
}

/*Collapsed navbar button*/
.navbar-toggle {
    border: 1px solid white;
}
.icon-bar {
    border: 1px solid white;
}

.jumbotron{
    margin-top: 0;
    margin-bottom: 0;
}

#firstjumbo {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    height: 372px;
}
#locations {
    background-color: #474E5D;
    color: white;
    text-align: center;
}

#locations > h2 {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
#locations > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/*Location One*/
.locationOne {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}

/*Centering image on right side of Location #1 and border work*/
body > div.row.container-fluid.locationOne > div.col-sm-4.col-md-4 {

    padding-left: 0;
    padding-right: 0;
}
body > div.row.container-fluid.locationOne > div.col-sm-4.col-md-4 > div{
    margin-bottom: 0;
    padding: 0;
    border: 0 solid white;
}

/*Location Two*/
.locationTwo {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
    background-color: #474E5D;
    color: white;
}

/*Centering image on left side of Location #2 and ensuring no border on picture*/
body > div.row.container-fluid.locationTwo > div.col-sm-4.col-md-4 {
    padding-left: 0;
    padding-right: 0;
}
body > div.row.container-fluid.locationTwo > div.col-sm-4.col-md-4 > div {
    margin-bottom: 0;
    padding: 0;
    border: 0 solid #474E5D;
}

/*Location Three*/
.locationThree {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}

/*Centering image on right side of Location #3 and border work*/
body > div.row.container-fluid.locationThree > div.col-sm-4.col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

body > div.row.container-fluid.locationThree > div.col-sm-4.col-md-4 > div {
    margin-bottom: 0;
    padding: 0;
    border: 0 solid white;
}

    
/*Amenities*/
#amenities {
    background-color: #474E5D;
    color: white;
    text-align: center;
}

/*3x3 Grid*/

/*first row*/
.firstRow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

/*top left section*/
.firstRow > .topleft {
    background-image: url('Content/images/3b-348x348.jpg');
    background-size: cover;
    text-align: center;
    height: 348px;
}

.firstRow > .topleft > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 70px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
}

/*top middle section*/
.firstRow > .topmiddle {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
    }

/*top right section*/
.firstRow > .topright {
    background-image: url('Content/images/42-348x348.jpg');
    background-size: cover;
    height: 348px;
    text-align: center;
}

.firstRow > .topright > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 70px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
}

/*Second row*/
.secondRow {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.secondRow > .middleleft {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
}

.secondRow > .middle {
    background-size: cover;
    height: 348px;
    text-align: center;
    background-image: url('Content/images/314-348x348.jpg');
}

.secondRow > .middle > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 70px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
}

.secondRow > .middleright {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
}

/*Third Row*/

.thirdRow {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.thirdRow > .bottomleft {
    background-image: url('Content/images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
    height: 348px;
    text-align: center;
}

.thirdRow > .bottomleft > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 70px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
}

.thirdRow > .bottommiddle {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
}

.thirdRow > .bottomright {
    background-image: url('Content/images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    height: 348px;
    text-align: center;
}

.thirdRow > .bottomright > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 70px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
}


#reviews {
    background-color: #474E5D;
    color: white;
    text-align: center;
}
#contact {
    background-color: #474E5D;
    color: white;
    text-align: center;
}

#home {
    background-color: #474E5D;
    color: white;
    text-align: center;
}