body {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
}

/*NavBar*/

#navBar {
    background-color: #474E5D; 
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
#navBar a {
    color: white;
}

/*Collapsed navbar button*/
.navbar-toggle {
    border: 1px solid white;
}
.icon-bar {
    border: 1px solid white;
}

.jumbotron{
    margin-top: 0;
    margin-bottom: 0;
}

/*Pics under Nav Bar*/
.toppics {
    width: 100%;
    padding: 0;
    margin: 0;
}
.toppics > .leftside {
    background-image: url('Content/images/tuscany-villas-sant-anna.jpg');
    background-size: 100% 100%;
    height: 372px;
}
.toppics > .rightside {
    background-image: url('Content/images/Versilia.jpg');
    background-size: 100% 100%;
    height: 372px;
}

.container.toppics > .leftside > h1 {
    font-size: 72px;
    text-align: center;
    color: white;
    padding-bottom: 0;
}
.container.toppics > .leftside > h2 {
    text-align: center;
    color: white;
}

/*Locations jumbotron*/
#locations {
    background-color: #474E5D;
    color: white;
    text-align: center;
}
#locations > h2 {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
#locations > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/*Location One*/
.locationOne {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}

/*Centering image on right side of Location #1 and border work*/
body > div.row.container-fluid.locationOne > div.col-sm-4.col-md-4 {
    padding-left: 0;
    padding-right: 0;
}
body > div.row.container-fluid.locationOne > div.col-sm-4.col-md-4 > div{
    margin-bottom: 0;
    padding: 0;
    border: 0 solid white;
}

/*Location Two*/
.locationTwo {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
    background-color: #474E5D;
    color: white;
}

/*Centering image on left side of Location #2 and border work*/
body > div.row.container-fluid.locationTwo > div.col-sm-4.col-md-4 {
    padding-left: 0;
    padding-right: 0;
}
body > div.row.container-fluid.locationTwo > div.col-sm-4.col-md-4 > div {
    margin-bottom: 0;
    padding: 0;
    border: 0 solid #474E5D;
}

/*Location Three*/
.locationThree {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}

/*Centering image on right side of Location #3 and border work*/
body > div.row.container-fluid.locationThree > div.col-sm-4.col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

body > div.row.container-fluid.locationThree > div.col-sm-4.col-md-4 > div {
    margin-bottom: 0;
    padding: 0;
    border: 0 solid white;
}

    
/*Amenities*/
#amenities {
    background-color: #474E5D;
    color: white;
    text-align: center;
}

/*3x3 Grid*/

/*first row*/
.firstRow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

/*top left section*/
.firstRow > .topleft {
    background-image: url('Content/images/3b-348x348.jpg');
    background-size: cover;
    text-align: center;
    height: 348px;
}
.container.firstRow > .col-sm-6.col-md-4.topleft > div
{
    margin-top: 38%;
    margin-bottom: auto;
}

.firstRow > .topleft > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 70px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1px;
}

/*top middle section*/
.firstRow > .topmiddle {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
    }

/*top right section*/
.firstRow > .topright {
    background-image: url('Content/images/42-348x348.jpg');
    background-size: cover;
    height: 348px;
    text-align: center;
}
.container.firstRow > .col-sm-6.col-md-4.topright > div {
    margin-top: 38%;
    margin-bottom: auto;
}


.firstRow > .topright > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 100px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Second row*/
.secondRow {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/*Middle row, left side section*/
.secondRow > .middleleft {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
}

/*Middle row, middle section*/
.secondRow > .middle {
    background-size: cover;
    height: 348px;
    text-align: center;
    background-image: url('Content/images/314-348x348.jpg');
}

.container.secondRow > .col-sm-6.col-md-4.middle > div {
    margin-top: 35%;
    margin-bottom: auto;
}

.secondRow > .middle > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 100px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Middle row, right section*/
.secondRow > .middleright {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
}

/*Third Row*/

.thirdRow {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

/*Bottom left section*/
.thirdRow > .bottomleft {
    background-image: url('Content/images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
    height: 348px;
    text-align: center;
}

.container.thirdRow > .col-sm-6.col-md-4.bottomleft > div {
    margin-top: 35%;
    margin-bottom: auto;
}

.thirdRow > .bottomleft > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 100px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Bottom middle section*/
.thirdRow > .bottommiddle {
    color: #474E5D;
    text-align: center;
    line-height: 1em;
    height: 348px;
}

/*Bottom right section*/
.thirdRow > .bottomright {
    background-image: url('Content/images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    height: 348px;
    text-align: center;
}

.container.thirdRow > .col-sm-6.col-md-4.bottomright > div {
    margin-top: 35%;
    margin-bottom: auto;
}

.thirdRow > .bottomright > .textbox {
    background-color: rgbA(85, 87, 96, 0.6);
    color: white;
    text-align: center;
    border: none;
    height: 100px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Reviews jumbotron*/
#reviews {
    background-color: #474E5D;
    color: white;
    text-align: center;
}

/*Reviews Carousel*/
#reviewCarousel {
    text-align: center;
    background-color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}
#reviewCarousel > h2 {
    vertical-align: middle;
}

.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li {
    vertical-align: bottom;
    background-color: #474E5D;
}
.carousel-indicators .active {
    background-color: #474E5D;
}

#reviewCarousel > .left.carousel-control {
    color: #A3A7AE;
    background: none;
}

#reviewCarousel > .right.carousel-control {
    color: #A3A7AE;
    background: none;
}

/*Contact jumbotron*/
#contact {
    background-color: #474E5D;
    color: white;
    text-align: center;
}

/*Contact field*/
.contactField {
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 150px;
    margin-left: 0;
    padding-right: 50px;
    width: 100%;
    padding-left: 50px;
}

.contactField > .leftside {
    padding: 0;
}

.contactField > .rightside {
    padding: 0;
}

/*bottom portion jumbotron*/
#home {
    background-color: #474E5D;
    color: white;
    text-align: center;
}

/*Chevron up path*/
#home > a:nth-child(2) > span {
    color: white;
}